/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}

.Top{
    display:inline-block;
    width:100vw;
    padding: 1px;
}
.bottom{
    display:inline-block;
    width:100vw;
}
.top-left{
    display:inline-block;
    width:47%;
    height:48vh;
    vertical-align:top;
    
    background-color: chocolate;
}
.top-right{
    display:inline-block;
    width:47%;
    height:48vh;
    background-color: cornflowerblue;
    vertical-align:top;
    margin-right: 3%;
}
.top-right img{
    width:100%;
    height:100%;
}
.bottom-left {
    display:inline-block;
    width:47%;
    height:48vh;
    background-color: darkgoldenrod;
    vertical-align:top;
}
.bottom-left img{
    width:100%;
    height:100%;
}
.bottom-right {
    display:inline-block;
    width:47%;
    height:48vh;
    background-color: darkolivegreen;
    vertical-align:top;
}